<nav>
    <div class="BrainyBytes">
        <a href="/"><h1>QUEST</h1></a>
        <p>A Blogging website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blogs</a></li>
    </ul>
</nav>